<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fromID</key>
		<integer>110</integer>
		<key>toID</key>
		<integer>111</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>111</integer>
		<key>toID</key>
		<integer>112</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>112</integer>
		<key>toID</key>
		<integer>113</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>113</integer>
		<key>toID</key>
		<integer>114</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>114</integer>
		<key>toID</key>
		<integer>115</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>115</integer>
		<key>toID</key>
		<integer>116</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>116</integer>
		<key>toID</key>
		<integer>117</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>117</integer>
		<key>toID</key>
		<integer>118</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>118</integer>
		<key>toID</key>
		<integer>119</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>119</integer>
		<key>toID</key>
		<integer>120</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>120</integer>
		<key>toID</key>
		<integer>121</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>121</integer>
		<key>toID</key>
		<integer>122</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>122</integer>
		<key>toID</key>
		<integer>123</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>123</integer>
		<key>toID</key>
		<integer>124</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>124</integer>
		<key>toID</key>
		<integer>125</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>125</integer>
		<key>toID</key>
		<integer>126</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>126</integer>
		<key>toID</key>
		<integer>127</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>210</integer>
		<key>toID</key>
		<integer>211</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>211</integer>
		<key>toID</key>
		<integer>212</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>212</integer>
		<key>toID</key>
		<integer>213</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>213</integer>
		<key>toID</key>
		<integer>214</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>214</integer>
		<key>toID</key>
		<integer>215</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>215</integer>
		<key>toID</key>
		<integer>216</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>216</integer>
		<key>toID</key>
		<integer>217</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>217</integer>
		<key>toID</key>
		<integer>218</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>218</integer>
		<key>toID</key>
		<integer>219</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>219</integer>
		<key>toID</key>
		<integer>220</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>220</integer>
		<key>toID</key>
		<integer>221</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>221</integer>
		<key>toID</key>
		<integer>222</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>222</integer>
		<key>toID</key>
		<integer>223</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>223</integer>
		<key>toID</key>
		<integer>224</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>224</integer>
		<key>toID</key>
		<integer>225</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>225</integer>
		<key>toID</key>
		<integer>226</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>226</integer>
		<key>toID</key>
		<integer>227</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>310</integer>
		<key>toID</key>
		<integer>311</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>311</integer>
		<key>toID</key>
		<integer>312</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>312</integer>
		<key>toID</key>
		<integer>314</integer>
		<key>timeInterval</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>314</integer>
		<key>toID</key>
		<integer>315</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>315</integer>
		<key>toID</key>
		<integer>316</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>316</integer>
		<key>toID</key>
		<integer>317</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>317</integer>
		<key>toID</key>
		<integer>318</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>318</integer>
		<key>toID</key>
		<integer>319</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>319</integer>
		<key>toID</key>
		<integer>321</integer>
		<key>timeInterval</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>321</integer>
		<key>toID</key>
		<integer>322</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>322</integer>
		<key>toID</key>
		<integer>323</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>323</integer>
		<key>toID</key>
		<integer>324</integer>
		<key>timeInterval</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>324</integer>
		<key>toID</key>
		<integer>325</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>325</integer>
		<key>toID</key>
		<integer>326</integer>
		<key>timeInterval</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>326</integer>
		<key>toID</key>
		<integer>327</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>314</integer>
		<key>toID</key>
		<integer>119</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>217</integer>
		<key>toID</key>
		<integer>120</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>fromID</key>
		<integer>315</integer>
		<key>toID</key>
		<integer>218</integer>
		<key>timeInterval</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
