<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>110</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.464778</real>
			<key>longitude</key>
			<real>30.355511</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Академгородок</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>111</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.455884</real>
			<key>longitude</key>
			<real>30.36479</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Житомирская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>112</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.457685</real>
			<key>longitude</key>
			<real>30.391776</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Святошин</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>113</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.458602</real>
			<key>longitude</key>
			<real>30.405682</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Нивки</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>114</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.458562</real>
			<key>longitude</key>
			<real>30.420522</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Берестейская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>115</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.454622</real>
			<key>longitude</key>
			<real>30.445208</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Шулявская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>116</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.450814</real>
			<key>longitude</key>
			<real>30.466327</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Политехнический институт</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>117</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.44178</real>
			<key>longitude</key>
			<real>30.488273</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Вокзальная</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>118</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.444401</real>
			<key>longitude</key>
			<real>30.506006</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Университет</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>119</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.445135</real>
			<key>longitude</key>
			<real>30.518178</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Театральная</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>120</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.447218</real>
			<key>longitude</key>
			<real>30.524933</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Крещатик</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>121</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.444332</real>
			<key>longitude</key>
			<real>30.545379</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Арсенальная</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>122</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.441051</real>
			<key>longitude</key>
			<real>30.558773</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Днепр</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>123</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.445956</real>
			<key>longitude</key>
			<real>30.57699</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Гидропарк</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>124</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.4518</real>
			<key>longitude</key>
			<real>30.59811</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Левобережная</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>125</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.455924</real>
			<key>longitude</key>
			<real>30.612905</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Дарница</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>126</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.459852</real>
			<key>longitude</key>
			<real>30.630269</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Черниговская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>127</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.464629</real>
			<key>longitude</key>
			<real>30.645541</real>
		</dict>
		<key>lineColor</key>
		<string>#FF0000</string>
		<key>name</key>
		<string>Лесная</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>210</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.52258</real>
			<key>longitude</key>
			<real>30.498891</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Героев Днепра</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>211</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.512196</real>
			<key>longitude</key>
			<real>30.498541</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Минская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>212</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.501466</real>
			<key>longitude</key>
			<real>30.498253</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Оболонь</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>213</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.486074</real>
			<key>longitude</key>
			<real>30.497885</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Петровка</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>214</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.473573</real>
			<key>longitude</key>
			<real>30.504577</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Тараса Шевченко</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>215</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.465598</real>
			<key>longitude</key>
			<real>30.514773</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Контрактовая площадь</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>216</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.458935</real>
			<key>longitude</key>
			<real>30.52487</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Почтовая площадь</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>217</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.450028</real>
			<key>longitude</key>
			<real>30.524151</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Площадь независимости</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>218</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.439221</real>
			<key>longitude</key>
			<real>30.516327</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Площадь Льва Толстого</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>219</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.432244</real>
			<key>longitude</key>
			<real>30.51621</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Олимпийская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>220</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.420641</real>
			<key>longitude</key>
			<real>30.520738</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Дворец «Украина»</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>221</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.413162</real>
			<key>longitude</key>
			<real>30.524798</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Лыбидская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>222</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.404563</real>
			<key>longitude</key>
			<real>30.516615</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Демиевская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>223</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.397879</real>
			<key>longitude</key>
			<real>30.510066</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Голосеевская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>224</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.393176</real>
			<key>longitude</key>
			<real>30.487689</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Васильковская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>225</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.382092</real>
			<key>longitude</key>
			<real>30.477134</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Выставочный центр</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>226</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.376526</real>
			<key>longitude</key>
			<real>30.468923</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Иподром</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>227</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.367167</real>
			<key>longitude</key>
			<real>30.454218</real>
		</dict>
		<key>lineColor</key>
		<string>#0000FF</string>
		<key>name</key>
		<string>Теремки</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>310</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.476221</real>
			<key>longitude</key>
			<real>30.430736</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Сырец</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>311</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.473452</real>
			<key>longitude</key>
			<real>30.448406</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Дорогожичи</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>312</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.462249</real>
			<key>longitude</key>
			<real>30.482101</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Лукьяновская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>313</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.448342</real>
			<key>longitude</key>
			<real>30.513668</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Золотые ворота</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>314</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.437838</real>
			<key>longitude</key>
			<real>30.520684</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Дворец спорта</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>315</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.436731</real>
			<key>longitude</key>
			<real>30.531922</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Кловская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>316</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.427522</real>
			<key>longitude</key>
			<real>30.538632</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Печерская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>317</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.418001</real>
			<key>longitude</key>
			<real>30.544462</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Дружбы народов</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>318</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.402128</real>
			<key>longitude</key>
			<real>30.559985</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Выдубичи</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>319</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.39417</real>
			<key>longitude</key>
			<real>30.604164</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Славутич</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>320</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.395537</real>
			<key>longitude</key>
			<real>30.616148</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Осокорки</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>321</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.398344</real>
			<key>longitude</key>
			<real>30.63433</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Позняки</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>322</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.401072</real>
			<key>longitude</key>
			<real>30.430736</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Харьковская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>323</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.403185</real>
			<key>longitude</key>
			<real>30.665969</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Вырлица</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>324</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.403403</real>
			<key>longitude</key>
			<real>30.682974</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Бориспольская</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>325</integer>
		<key>location</key>
		<dict>
			<key>latitude</key>
			<real>50.409505</real>
			<key>longitude</key>
			<real>30.695918</real>
		</dict>
		<key>lineColor</key>
		<string>#00FF00</string>
		<key>name</key>
		<string>Красный хутор</string>
	</dict>
</array>
</plist>
